<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label>
        Task Name:
        <input formControlName="task_name" placeholder="Enter task name">
      </label>
    </div>
    <div>
      <label>
        User Name:
        <input formControlName="user_name" placeholder="Enter user name">
      </label>
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
    <button class="btn btn-warning" type="clear">CLear</button>
    
  </form>

  <div class="display">

  <h4>User '{{myForm.value.user_name}}' has done task '{{myForm.value.task_name}}'</h4>
  </div>